@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

.loader:after,
.loader:before {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  border-radius: 50%;
  background: #FFE047;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}

.loader:before {
  transform-origin: 0 50%;
  background: #2B293D;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
